
<% @tareas.each do |tarea| %>
  <% if tarea["done"] == true %>
            <div class="perro col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= tarea["title"] %> </h3>

                    <!-- Watch Out: Here We must use the effect name in the data tag-->
                    <form>
                    <input type="hidden" name="id" value="<%= tarea["id"] %>">
                    <button  type="submit" class="update_form"><span class="pull-right" data-effect="remove"><i class="fa fa-times"></i></span></button>
                    </form>

                </div>
                <div class="panel-body">
                  <ul class="form-group">
                  <h3> <%= tarea["title"] %> </h3>
                  </ul>
                </div>
            </div>  
        </div>

  <% end  %>
<% end  %>
               
                <a href="/" style="color:white" class="btn btn-dark"> regresar a tareas</a>



      